  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 5;
  }

  /*noinspection ALL*/
  .hamRotate.active {
    transform: rotate(45deg);
  }

  /*noinspection ALL*/
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, stroke 400ms;
    stroke: #042525;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }

  /*Overlay*/
  .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    background-color: rgba(10,129,129,0.9);
    overflow-x: hidden;
  }

  .overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #042525;
    display: block;
    transition: 0.3s;
  }

  .fixed-menu{
    position: fixed;
    top: 0;
    right: 0;
  }