*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
Custom Properties
 */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #EDFCFD;
    --clr-dark: #042525;
    --clr-accent: #119da4;
    --clr-accent-1: #148389;
    --clr-accent-2: #34E1EA;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
    }
}

/**General styles */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

/*Typography*/
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

strong {
    font-weight: var(--fw-bold)
}

:focus {
    outline: 3px solid var(--clr-accent-2);
    outline-offset: 3px;
}

.btn {
    display: inline-block;
    padding: 0 2.5em;
    background: var(--clr-accent-1);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}


.btn:hover {
    transform: scale(1.5);
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h2 {
    font-size: var(--fs-h3)
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--work {
    color: var(--clr-accent-2);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 200px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    background: var(--clr-accent-1);
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    background: var(--clr-accent-1);
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

/*Hamburger*/

.hamburger:hover {
    transform: scale(1.2);
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: var(--clr-accent);
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 500ms ease-in-out;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

/* Intro Section */
.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
                "img title"
                "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/*My Service*/
.my-services {
    background-color: #555454;
    background-image: url("../Img/myService/myService__1.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    /*Set Height*/
    height: max-content;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent-1);
    font-size: var(--fs-h2);
    position: relative;
}

.section__title--services::after {
    content: "";
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent-2);
    opacity: .25;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.service h3 {
    font-weight: var(--fw-bold);
    margin-bottom: .5rem;
}

.services {
    margin-bottom: 4em;
}
@media (min-width: 200px) {
    .my-services{
        padding-top: 5rem;
    }
}
@media (min-width: 600px) {
    .my-services{
        padding-top: 2rem;
    }
}

@media (min-width: 800px) {
    .my-services{
        padding-top: 5rem;
    }
    .services {
        display: flex;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.section__title--about {
    font-size: var(--fs-h2);
}

.section__subtitle--about {
    font-size: var(--fs-h3);
    padding: 0;
    height: 2em;
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
                    "title img"
                    "subtitle img"
                    "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-area: subtitle;
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 4em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/*My Work*/
.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__title--work {
    font-size: var(--fs-h2);
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .9;
}

/*Footer*/
.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0 .5em;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/*Portfolio*/
.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual__img {
    width: 100%;
}

.portfolio-item-individual p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual .btn {
    display: inline-block;
    background: var(--clr-accent);
}

.center {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section__subtitle--port-intro {
    margin-top: .5em;
}

.portfolio-item-individual__team-members a {
    text-decoration: none;
    color: var(--clr-accent-1);
}

.portfolio-item-individual__team-members a:hover {
    text-decoration: underline;
    transform: scale(1.5);
    color: var(--clr-dark);
}

.about-me__body a {
    text-decoration: none;
    color: var(--clr-accent-1);
    cursor: pointer;
    font-weight: var(--fw-bold);
}

.about-me__body a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    color: var(--clr-accent);
}

.port-intro{
    padding-bottom: 0;
}

